@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vivosis pazaryeri entegrasyonu.</h1>
</div>
<script>
    document.getElementById("home").className += " active";
</script>