@model IEnumerable<CategoryFromStore>
<div class="mr-2">
    <select id="1" class="selectpicker" title="Kategori Seçin">
        @foreach(var storeCategory in Model)
        {
            <option id="@storeCategory.Id" url="@Url.Action("GetCategories","Categories", new { parentId =
            storeCategory.Id } ,Context.Request.Scheme)">
                @storeCategory.Name
            </option>
        }
    </select>
</div>