@model EditCategoryStoreModel
@{
    var isCategoryExist = Model.StoreCategory.matched_category_code != null;
    var loadCategoriesUrl = isCategoryExist ? Url.Action("GetParentCategoriesIdList", "Categories", new { categoryId = Model.StoreCategory.matched_category_code } , Context.Request.Scheme) : "";
}
<input id="store-id" type="hidden" asp-for="StoreCategory.store_id" />
<input id="category-id" type="hidden" asp-for="StoreCategory.category_id" />
<input id="currency" type="hidden" asp-for="StoreCategory.currency" />
<input id="store-category-id" type="hidden" asp-for="StoreCategory.store_category_id" />
<div class="form-group">
    <div class="row pl-3" id="categories-row" url="@Url.Action("GetCategories","Categories", null ,Context.Request.Scheme)">
        <!-- Category Row -->
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="col-form-label">Kategori Kodu</label>
            <input id="category-code" type="text" asp-for="StoreCategory.matched_category_code" class="form-control" style="border-radius: 5px;">
        </div>
        <div class="col-sm-10">
            <label class="col-form-label">Kategori Adı</label>
            <input id="category-name" type="text" asp-for="StoreCategory.matched_category_name" class="form-control" style="border-radius: 5px;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="col-form-label">Kargo Bedeli</label>
            <input id="shipping-fee" type="text" asp-for="StoreCategory.shipping_fee" class="form-control" style="border-radius: 5px;" placeholder="Boş bırakabilirsiniz.">
        </div>
        <div class="col-sm-4">
            <label class="col-form-label">Komisyon</label>
            <input id="commission" type="text" asp-for="StoreCategory.commission" class="form-control" style="border-radius: 5px;" placeholder="Boş bırakabilirsiniz.">
        </div>
        <div class="col-sm-4">
            <label class="col-form-label">Para Birimi</label>
            <select id="currency-option" class="form-control selectpicker" data-style="btn-primary">
                <option value="TL">TL (₺)</option>
                <option value="USD">USD ($)</option>
                <option value="EUR">EUR (€)</option>
            </select>
        </div>
    </div>
</div>
<div id="category-options-area" url="@Url.Action("GetCategoryOptions", "Categories", new { categoryStoreId = Model.StoreCategory.store_category_id, storeName=Model.SelectedStoreName }, Context.Request.Scheme)">
    @if(Model.OptionsModel != null)
        @await Html.PartialAsync("_ListCategoryOptions", Model.OptionsModel)
</div>
<div class="row">
    <div class="col">
        <button type="button" onclick="saveStoreCategory('@(Url.Action("EditStoreCategory", "Categories", null, Context.Request.Scheme))','info-@(Model.StoreCategory.category_id)-@(Model.StoreCategory.store_id)')" class="btn btn-primary">Kaydet</button>
    </div>
</div>
<script>
    jQuery('select').selectpicker();
    loadCategories('@Url.Action("GetCategories","Categories", null ,Context.Request.Scheme)', '@loadCategoriesUrl');
</script>