
@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>

    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>

    <div id="notfound">
        <div class="notfound">
                <img src="~/img/vivosis_logo.png" />
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - Sayfa bulunamadı</h2>
            </div>
            <a asp-action="Index">Anasayfaya Dön</a>
        </div>
    </div>

</body>
</html>
