@model SystemUser
@{
    ViewData["Title"] = "Yönetici Ekle";
}
<div class="page-header mb-2" style="background-color:transparent">
    <div class="container-fluid">
        <div class="pull-right">
            <button type="submit" form="addCustomerForm" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Kaydet"><i class="fa fa-save"></i></button>
            <a asp-controller="Account" asp-action="Index" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="İptal"><i class="fa fa-reply"></i></a>
        </div>
        <ul class="breadcrumb" style="background-color:transparent">
            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li><a asp-controller="Account" asp-action="AddAdmin">Yönetici Ekle</a></li>
        </ul>
    </div>
</div>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil-alt"></i> Yönetici Ekle</h3>
    </div>
    <hr />
    <div class="panel-body">
        <form class="form-group p-2" asp-action="AddAdmin" method="post" id="addCustomerForm">
            @{
                var isLoginFailed = !ViewData.ModelState.IsValid && (ViewData.ModelState["DbConnectionResult"]?.Errors?.Count ?? 0) > 0;
                var borderColor = "#007bff";
                if(isLoginFailed)
                    borderColor = "red";
            }
            @if(isLoginFailed)
            {
                <div class="input-group mb-3">
                    <div class="form-group row float-left ml-2" style="color:red">@ViewData.ModelState["DbConnectionResult"].Errors.First().ErrorMessage</div>
                </div>
            }
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="input-group mb-3">
                <label asp-for="UserName" class="col-2 col-form-label">Kullanıcı Adı</label>
                <input type="text" asp-for="UserName" class="form-control" style="border-radius: 5px;" placeholder="Kullanıcı adı girin." required autofocus>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="FullName" class="col-2 col-form-label">Ad Soyad</label>
                <input type="text" asp-for="FullName" class="form-control" style="border-radius: 5px;" placeholder="Ad ve soyadınızı girin." required autofocus>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="PasswordHash" class="col-2 col-form-label">Şifre</label>
                <input asp-for="PasswordHash" type="text" id="password" class="form-control" style="border-radius: 5px 0px 0px 5px;" placeholder="Şifre girin." required>
                <div class="input-group-append">
                    <button id="btnRandomPassword" onclick="generateRandomPass('password')" class="btn btn-outline-primary" style="border-radius: 0px 5px 5px 0px;" type="button">Şifre Üret</button>
                </div>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="Email" class="col-2 col-form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" style="border-radius: 5px;" placeholder="Email adresi girin.">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="PhoneNumber" class="col-2 col-form-label">Telefon Numarası</label>
                <input type="tel" asp-for="PhoneNumber" class="form-control rd" style="border-radius: 5px;" placeholder="Telefon numarası girin.">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <script src="~/js/site.js">ScriptProcessorNode</script>
        </form>
    </div>
</div>
<script>
    document.getElementById("addUser").className += " active";
</script>


