@model IEnumerable<StoreModel>
@{
    ViewData["Title"] = "Index";
}

<div class="page-header mb-2" style="background-color:transparent">
    <div class="container-fluid">
        <ul class="breadcrumb" style="background-color:transparent">
            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li><a asp-controller="Stores" asp-action="Index">Pazaryeri Ayarları</a></li>
        </ul>
    </div>
</div>
<hr />
<div id="list-user-stores">
    @await Html.PartialAsync("_ListUserStores", Model)
</div>
