<div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li id="home">
            <a asp-action="Index" asp-controller="Home"><i class="menu-icon fa fa-laptop"></i>Anasayfa</a>
        </li>
        <li class="menu-title">Kullanıcı İşlemleri</li><!-- /.menu-title -->
        <li class="menu-item" id="users">
            <a asp-action="Users" asp-controller="Account"> <i class="menu-icon fa fa-cogs"></i>Yöneticiler</a>
        </li>
        <li class="menu-item" id="addUser">
            <a asp-action="AddAdmin" asp-controller="Account"> <i class="menu-icon fa fa-cogs"></i>Yönetici Ekle</a>
        </li>
        <li class="menu-item" id="customers">
            <a asp-action="Customers" asp-controller="Account"> <i class="menu-icon fa fa-cogs"></i>Müşteriler</a>
        </li>
        <li class="menu-item" id="addCustomer">
            <a asp-action="AddCustomer" asp-controller="Account"> <i class="menu-icon fa fa-cogs"></i>Müşteri Ekle</a>
        </li>

        <li class="menu-title">Satın Alma İşlemleri</li><!-- /.menu-title -->
        <li class="menu-item" id="settings">
            <a asp-action="Index" asp-controller="Settings"> <i class="menu-icon fa fa-cogs"></i>Ayarlar</a>
        </li>

        <li class="menu-title">Genel İşlemeler</li><!-- /.menu-title -->
        <li class="menu-item" id="reports">
            <a asp-action="Index" asp-controller="Reports"> <i class="menu-icon fa fa-cogs"></i>Raporlar</a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->